## Tuples

A tuple is a finite sequence or ordered list of elements. In mathematics, an n-tuple is a tuple with n elements, where n is a non-negative integer. For example, (2, 7, 4, 1, 7) is a 5-tuple. Tuples are usually written with parentheses and elements separated by commas.

In [3]:
tup1 =  (1, 2, 3, 4)

In [13]:
tup = (3,)

# It will throw an error
# tup = (,)


tup = ()
type(tup)

tuple

In [15]:
# Creating the Tuple
tup = tuple([1, 2, 3,4])
tup

(1, 2, 3, 4)

In [16]:
# Concatanation

tup = (1, 2, 3, 4, 5)
tup = tup+(7, )
tup += (10, )
tup

(1, 2, 3, 4, 5, 7, 10)

In [18]:
#Write a python program to input ‘n’ employee salaries and find the minimum and maximum salary amongst ‘n’ employees.

Salaries = []
n = int(input("Enter no of Employees:  "))

for i in range(0, n):
    salary = int(input(f"Enter the {i}th Employee Salary: "))
    Salaries.append(salary)

tup_sal = tuple(Salaries)
print(f"Maximum salary among all the employee is:", max(tup_sal))
print(f"Minimum salary among all the employee is:", min(tup_sal))

Enter no of Employees:  5
Enter the 0th Employee Salary: 1
Enter the 1th Employee Salary: 2
Enter the 2th Employee Salary: 3
Enter the 3th Employee Salary: 4
Enter the 4th Employee Salary: 5
Maximum salary among all the employee is: 5
Minimum salary among all the employee is: 1

In [20]:
## Repitation

a = (1, 2, 3)
a = a*3
a

# Iteration

for i in a:
    print(a[i])
    
# MemberShip

2
3
1
2
3
1
2
3
1

In [3]:
# Write a program to input ‘n’ employee numbers and names and store them in a dictionary. Display dictionaries employee’s names(key) and numbers(values) together.

emp = {}

n = int(input("Enter the number of employees"))

for i in range(n):
    name = input("Enter the name: ")
    number = input("Enter the number: ")
    
    emp[name] = number

print("\n")
for name, number in emp.items():

    print(f"Name: {name}, Number: {number}")

Enter the number of employees3
Enter the name: S1
Enter the number: 1
Enter the name: S2
Enter the number: 2
Enter the name: S3
Enter the number: 3


Name: S1, Number: 1
Name: S2, Number: 2
Name: S3, Number: 3